/* Full Page Background */
body {
  background-image: url('../public/heavy-rain.svg');  /* Absolute path */
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: rgba(232, 223, 223, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 20px;
}

/* Header Styling */
.navbar {
  background-color: #343a40 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar-brand, .navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
  color: #007bff !important;
}

/* Section Headings */
h2 {
  color: #343a40;
  margin-bottom: 20px;
  text-align: center;
}

/* Additional Styling for Cards, Modal, and Buttons */
.card {
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
